<div class="page-content">
    <div class="wizard-v5-content">
      <div class="wizard-form">

            <%= form_with model: @offer, url: offers_path, local: true,  html: {id: "form-register", class: "form-register"} do |f| %>


              <div id="form-total">
                <!-- SECTION 1 -->
                  <h2>
                    <span class="step-icon"><i class="zmdi zmdi-check"></i></span>
                    <span class="step-text">Les coordonnées</span>
                  </h2>
            
            <section>   
              <div class="inner">
                <!-- BUYER -->
                <h3>Coordonnées de l'acheteur</h3>

                <div class="form-row">
                  <div id="radio">
                    <label for="gender">Titre :</label>
                      <%= radio_button_tag(:buyer_title, "Monsieur") %>Monsieur
                      <%= radio_button_tag(:buyer_title, "Madame") %>Madame
                      <%= radio_button_tag(:buyer_title, "Mademoiselle") %>Mademoiselle
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-holder">
                    <label for="first_name">Prénom</label>
                    <%= f.text_field :buyer_first_name, class: 'form-control', placeholder:"ex: Patricia" %>
                  </div>
                  <div class="form-holder">
                    <label for="last_name">Nom</label>
                    <%= f.text_field :buyer_last_name, class: 'form-control', placeholder:"ex: Dubois" %>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label for="address">Email</label>
                    <%= f.text_field :buyer_email, class: 'form-control', placeholder:"ex: patricia@email.com" %>
                  </div>
                </div>

                 <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label for="address">Adresse de l'acheteur</label>
                    <%= f.text_field :buyer_adress, class: 'form-control', placeholder:"ex: 12 rue des Rosiers" %>
                    <span><i class="zmdi zmdi-pin"></i></span>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-holder form-holder-3">
                    <label for="phone">Ville</label>
                    <%= f.text_field :buyer_city, class: 'form-control', placeholder:"ex: Orléans" %>
                  </div>
                  <div class="form-holder">
                    <label for="code">Code postal</label>
                    <%= f.text_field :buyer_zipcode, class: 'form-control' %>
                  </div>
                </div>

                <!-- SELLER -->
                <br>
                <h3>Coordonnées du vendeur</h3>

                <div class="form-row">
                  <div id="radio">
                    <label for="gender">Titre :</label>
                      <%= radio_button_tag(:seller_title, "Monsieur") %>Monsieur
                      <%= radio_button_tag(:seller_title, "Madame") %>Madame
                      <%= radio_button_tag(:seller_title, "Mademoiselle") %>Mademoiselle
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-holder">
                    <label for="first_name">Prénom</label>
                    <%= f.text_field :seller_first_name, class: 'form-control', placeholder:"ex: Patricia" %>
                  </div>
                  <div class="form-holder">
                    <label for="last_name">Nom</label>
                    <%= f.text_field :seller_last_name, class: 'form-control', placeholder:"ex: Dubois" %>
                  </div>
                </div>

                 <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label for="address">Adresse du vendeur</label>
                    <%= f.text_field :seller_adress, class: 'form-control', placeholder:"ex: 12 rue des Rosiers" %>
                    <span><i class="zmdi zmdi-pin"></i></span>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-holder form-holder-3">
                    <label for="phone">Ville</label>
                    <%= f.text_field :seller_city, class: 'form-control', placeholder:"ex: Orléans" %>
                  </div>
                  <div class="form-holder">
                    <label for="code">Code postal</label>
                    <%= f.text_field :seller_zipcode, class: 'form-control' %>
                  </div>
                </div>               



              </div>
                  </section>

            <!-- SECTION 2 -->
                  <h2>
                    <span class="step-icon"><i class="zmdi zmdi-check"></i></span>
                    <span class="step-text">Le bien</span>
                  </h2>
                  <section>

                      <div class="inner">
                        <h3>Description du bien</h3>

              <div class="form-row">
                  <div id="radio">
                    <label for="gender">Type :</label>
                      <%= radio_button_tag(:property_type, "Maison") %>Maison
                      <%= radio_button_tag(:property_type, "Loft") %>Loft
                      <%= radio_button_tag(:property_type, "Studio") %>Studio
                      <%= radio_button_tag(:property_type, "T2") %>T2
                      <%= radio_button_tag(:property_type, "T3") %>T3
                      <%= radio_button_tag(:property_type, "T4") %>T4
                      <%= radio_button_tag(:property_type, "T5") %>T5
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label for="address">Adresse du bien</label>
                    <%= f.text_field :property_adress, class: 'form-control', placeholder:"ex: 12 rue des Rosiers" %>
                    <span><i class="zmdi zmdi-pin"></i></span>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-holder form-holder-3">
                    <label for="phone">Ville</label>
                    <%= f.text_field :property_city, class: 'form-control', placeholder:"ex: Orléans" %>
                  </div>
                  <div class="form-holder">
                    <label for="code">Code postal</label>
                    <%= f.text_field :property_zipcode, class: 'form-control' %>
                  </div>
                </div> 

                <div class="form-row">
                  <div class="form-holder form-holder-3">
                    <label for="phone">Surface (en m²)</label>
                    <%= f.text_field :property_surface, class: 'form-control'%>
                      <span>m²</span>
                  </div>
                  <div class="form-holder">
                    <label for="code">Prix d'achat (en nombre)</label>
                    <%= f.text_field :property_price, class: 'form-control' %>
                      <span>€</span>
                  </div>
                </div> 

                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label for="account_number">Prix d'achat (en toutes lettres)</label>
                    <%= f.text_field :property_price_letters, class: 'form-control' %>
                  </div>
                </div>
                <div class="form-row form-row-date form-row-step-2">
                  <div class="form-holder form-holder-2">
                    <label for="date_2" class="special-label">Expiration de l'offre</label>
                    
                    <%= select_tag 'day', options_for_select([*01..31].collect{ |d| [d, d] }), class:"form-control" %>

                    <%= select_tag 'month', options_for_select(%w(Janvier Février Mars Avril Mai Juin Juillet Août Septembre Octobre Novembre Décembre).map.with_index{ |m, i| [m, i+1] }), class:"form-control" %>

                    <%= select_tag 'year', options_for_select(%w(2020 2021 2022).collect{ |y| [y, y] }), class:"form-control" %>
                    
                  </div>
                </div>
              </div>
                  </section>
                  <!-- SECTION 3 -->
                  <h2>
                    <span class="step-icon"><i class="zmdi zmdi-check"></i></span>
                    <span class="step-text">Confirmation</span>
                  </h2>
                  <section>
                      <div class="inner">
                        <h3>Récapitulatif des informations</h3>
                <div class="form-row table-responsive">
                  <table class="table">
                    <tbody>
                      <tr class="space-row">
                        <th>Acheteur</th>
                        <td>Name</td>
                      </tr>
                      <tr class="space-row">
                        <th>Vendeur</th>
                        <td id="email-val"></td>
                      </tr>
                      <tr class="space-row">
                        <th>Phone Number:</th>
                        <td id="phone-val"></td>
                      </tr>
                      <tr class="space-row">
                        <th>Address Location:</th>
                        <td id="address-val"></td>
                      </tr>
                      <tr class="space-row">
                        <th>Gender:</th>
                        <td id="gender-val"></td>
                      </tr>
                      <tr class="space-row">
                        <th>Account Name:</th>
                        <td id="account-name-val"></td>
                      </tr>
                      <tr class="space-row">
                        <th>Account Number:</th>
                        <td id="account-number-val"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            <center>
              <%= f.submit "Télécharger ma lettre d'offre", :class => 'submit-btn'%>
              <% end %>
            </center>

                  </section>
              </div>

      </div>
    </div>
  </div>